.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-items li{
    font-size: large;
    padding: 20px;
}

.nav-logo{
    width: 60px;
}

