/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background-image: url(./assets/img/react-logo.svg);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
} */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

.app--container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav{
    z-index:9999;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    height: 70px;
    padding: 30px 25px;
    width: 100%;
    position:fixed;
    top:0;
}


.nav--items{
    display: flex;
    list-style: none;
    color: #DEEBF8;
    font-weight: 600;

}

.nav--items li{
    font-size: large;
    padding: 20px;
}

.nav--logo{
    height: 25px;
    margin-right: 7px;

}

.nav--logo_text{
    display:inline-block;
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 29px;

}

.nav--logo_text, .nav--title {
    margin: 0;
}

main{
    padding: 70px 27px 40px;
    color: white;
    margin-top:75px;
    text-align: center;
    /* min-height: 100vh; */
    background: url('./assets/img/react-logo.svg') no-repeat;
    filter: grayscale(100%);
    background-blend-mode: saturation;
    background-size: 120px;
    background-position: right 75% ;
}

main > div{
    display: inline-block;
    vertical-align: top;
    width:35%;
}

.main--title{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    text-align: left;
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

footer{ 
    position:sticky;
    top: calc( 100vh - 70px );
    background-color: #21222A;
    color: #DEEBF8;
    height: 70px;
    font-weight: 600;
    font-size:20px;
    text-align: center;
    padding: 20px 25px;
}